{% extends '@Shu1Simulist/base.html.twig' %}

{% block title %}TOP{% endblock %}

{% block body %}
    <h1>Hello Guest!!</h1>

    <div>
        <a href="{{ path('new') }}">リストを作成する</a>
    </div>
{% endblock %}
